<picture{{ with .wrapperClass }} class="{{ . }}"{{ end }}>
  {{- range .sources }}
    <source srcset="{{ .srcset }}" type="{{ .type }}" />
  {{- end }}
  <img
    class="{{ .className }}"
    src="{{ .src }}"
    alt="{{ .alt }}"
    {{ if .lazyLoading }}loading="lazy"{{ end }}
    {{ with .naturalHeight }}height="{{ . }}"{{ end }}
    {{ with .naturalWidth }}width="{{ . }}"{{ end }}
    {{ with .style }}{{ printf `style="%s"` (delimit . `; `) | safeHTMLAttr }}{{ end }}
    {{ if and .original .originalSrc }}data-src="{{ .originalSrc }}"{{ end }}
    {{ if and .original .originalWidth }}data-width="{{ .originalWidth }}"{{ end }}
    {{ if and .original .originalHeight }}data-height="{{ .originalHeight }}"{{ end }} />
</picture>
